</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/"><i class="fas fa-home fa-lg"></i></a>
          </li>
          <% if(loggedInUser && loggedInUser.gender !== 'Gender' && loggedInUser.country !== 'Country') {%>
          <li class="nav-item">
            <a class="nav-link active" href="/article/editorpanel">CREATE NEW ARTICLE</a>
          </li>
          <% } else {%>
          <li class="nav-item">
            <a class="nav-link active" onclick="check()">CREATE NEW ARTICLE</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="modal" data-target="#supportModal" href="#">SUPPORT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">REVIEW</a>
          </li>
        </ul>
      </div>
      <% if(loggedInUser) {%>
      <ul class="navbar-nav ml-auto mb-lg-0">
        <li class="input-group rounded mt-0">
          <input id="generalSearch" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="submit" style="cursor: pointer;" class="input-group-text border-0 mr-0" id="search-addon">
            <i class="fas fa-search"></i>
          </button>
        </li>
      </ul>
      <% } %> 
      <ul class="navbar-nav ml-auto">
        <% if(loggedInUser) { %>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">WELCOME <%= loggedInUser.firstname.toUpperCase() %>
            <%= loggedInUser.lastname.toUpperCase()  %> </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile/">My Profile</a></li>
            <li><a class="dropdown-item" href="/profile/edit">Edit Profile</a></li>
            <% if(loggedInUser && loggedInUser.license_no !== '0' && loggedInUser.university !== 'University' && loggedInUser.reference_no[0] !== '(Seperated By Comma)') {%>
            <li><a class="dropdown-item" data-toggle="modal" data-target="#scheduleModal">Schedule</a></li>
            <% }%>
            <li>
              <hr>
            </li>
            <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
      <% } else { %>
      <ul class="navbar-nav ml-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="modal" data-target="#registerModal" href="#">REGISTER</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-2">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="modal" data-target="#loginModal" href="#">LOGIN</a>
        </li>
        <% } %>
      </ul>

    </div>
  </nav>

  <!-- Login Modal -->
  <div style="color: black;" class="modal fade" role="dialog" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3><i class="fa fa-lock"></i> Login:</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>

        <!--Body-->
        <div class="container modal-body" id="loginclick">
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="text" name="username" class="form-control username" placeholder="Username" value="m.eraj"
                required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" value="eraj" required>
            </div>
            <!-- <div class="form-check mb-2 mr-sm-2">
                    <label style="cursor: pointer;" class="form-check-label">
                      <input class="form-check-input" onclick="showPassBtn()" type="checkbox"> Show password
                    </label>
                  </div> -->
            <div class="form-group">
              <button style="float: right;" type="submit" id="loginBtn" class="btn btn-outline-success">Login</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Register Modal -->
  <div class="modal fade" role="dialog" id="registerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3><i class="fas fa-user"></i> Register:</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>

        <!--Body-->
        <div class="container modal-body" id="registerModal">
          <form action="/register" method="POST">
            <div class="row">
              <div class="form-group col-6">
                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name"
                  required>
              </div>
              <div class="form-group col-6">
                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="text" name="username" class="form-control username" placeholder="Username" required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <!-- <input type="password" name="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 16 characters" required> -->
            </div>
            <div class="form-group">
              <button style="float: right;" type="button" onclick="regBtn()" id="registerBtn"
                class="btn btn-outline-success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Schedule Modal  -->

  <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" style="margin-top: 17%;">
      <div class="modal-content">
        <div class="modal-body form-modal">
          <form action="">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4>Appointment Schedule</h4>
            <div class="row">
              <div class="col mb-2">
                <input id="scheduleSystem" type="checkbox" data-toggle="toggle" data-on="Serialwise" data-off="Slotwise"
                  data-onstyle="success" data-offstyle="primary" data-width="120">
              </div>
              <div class="col mb-2">
                <input id="r1" name="timeSlot" type="radio">
                <label for="r1">10 Minuetes Slot</label>
              </div>
              <div class="col mb-2">
                <input id="r2" name="timeSlot" type="radio">
                <label for="r2">15 Minuetes Slot</label>
              </div>
              <div class="col mb-2">
                <input id="r3" name="timeSlot" type="radio">
                <label for="r3">20 Minuetes Slot</label>
              </div>
              <div class="col mb-2">
                <input id="r4" name="timeSlot" type="radio">
                <label for="r4">30 Minuetes Slot</label>
              </div>
            </div>
            <h6>Days:</h6>

            <div class="row">
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Saturday"
                  data-onstyle="success" data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime1">
                  <li>
                    <label style="margin-top: 2px" for="sTime1">Start Time</label>
                    <input id="sTime1" type="time">
                    <label style="margin-top: 2px" for="eTime1">End Time</label>
                    <input id="eTime1" type="time">
                  </li>
                </ul>
                <button id="addDocTime1" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Sunday" data-onstyle="success"
                  data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime2">
                  <li>
                    <label style="margin-top: 2px" for="sTime2">Start Time</label>
                    <input id="sTime2" type="time">
                    <label style="margin-top: 2px" for="eTime2">End Time</label>
                    <input id="eTime2" type="time">
                  </li>
                </ul>
                <button id="addDocTime2" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Monday" data-onstyle="success"
                  data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime3">
                  <li>
                    <label style="margin-top: 2px" for="sTime3">Start Time</label>
                    <input id="sTime3" type="time">
                    <label style="margin-top: 2px" for="eTime3">End Time</label>
                    <input id="eTime3" type="time">
                  </li>
                </ul>
                <button id="addDocTime3" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Tuesday"
                  data-onstyle="success" data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime4">
                  <li>
                    <label style="margin-top: 2px" for="sTime4">Start Time</label>
                    <input id="sTime4" type="time">
                    <label style="margin-top: 2px" for="eTime4">End Time</label>
                    <input id="eTime4" type="time">
                  </li>
                </ul>
                <button id="addDocTime4" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Wednesday"
                  data-onstyle="success" data-offstyle="primary" data-width="120">
                <ul class="list-unstyled" id="docTime5">
                  <li>
                    <label style="margin-top: 2px" for="sTime5">Start Time</label>
                    <input id="sTime5" type="time">
                    <label style="margin-top: 2px" for="eTime5">End Time</label>
                    <input id="eTime5" type="time">
                  </li>
                </ul>
                <button id="addDocTime5" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Thursday"
                  data-onstyle="success" data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime6">
                  <li>
                    <label style="margin-top: 2px" for="sTime6">Start Time</label>
                    <input id="sTime6" type="time">
                    <label style="margin-top: 2px" for="eTime6">End Time</label>
                    <input id="eTime6" type="time">
                  </li>
                </ul>
                <button id="addDocTime6" type="button" class="btn btn-success mt-2">Add</button>
              </div>
              <div class="col mb-2">
                <input type="checkbox" data-toggle="toggle" data-on="Available" data-off="Friday" data-onstyle="success"
                  data-offstyle="primary" data-width="100">
                <ul class="list-unstyled" id="docTime7">
                  <li>
                    <label style="margin-top: 2px" for="sTime7">Start Time</label>
                    <input id="sTime7" type="time">
                    <label style="margin-top: 2px" for="eTime7">End Time</label>
                    <input id="eTime7" type="time">
                  </li>
                </ul>
                <button id="addDocTime7" type="button" class="btn btn-success mt-2">Add</button>
              </div>

              <div class="col-sm-12 col-xs-height mt-4">
                <div>
                  <button class="btn btn-warning" type="button">Check time conflict</button>
                  <button style="float: right" class="btn btn-success" type="submit">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- Support Modal -->
  <div class="modal fade" role="dialog" id="supportModal">
    <div class="modal-dialog">
      <div style="background: black;" class="modal-content">
        <div class="modal-header">
          <h3>Message Us:</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>

        <!--Body-->
        <div class="container modal-body" id="loginclick">
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" name="emailForContact" class="form-control username" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea placeholder="Your Message" name="" id="" cols="49" rows="5"></textarea>
            </div>
            <!-- <div class="form-check mb-2 mr-sm-2">
                    <label style="cursor: pointer;" class="form-check-label">
                      <input class="form-check-input" onclick="showPassBtn()" type="checkbox"> Show password
                    </label>
                  </div> -->
            <div class="form-group">
              <button style="float: right;" type="submit" id="loginBtn" class="btn btn-success">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function check() {
      alert('User needs to have a varified account to create an article')
    }

    $('#addDocTime1').click(function () {
      let addDocTime1 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime1').append(addDocTime1);
    })
    $('#addDocTime2').click(function () {
      let addDocTime2 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime2').append(addDocTime2);
    })
    $('#addDocTime3').click(function () {
      let addDocTime3 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime3').append(addDocTime3);
    })
    $('#addDocTime4').click(function () {
      let addDocTime4 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime4').append(addDocTime4);
    })
    $('#addDocTime5').click(function () {
      let addDocTime5 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime5').append(addDocTime5);
    })
    $('#addDocTime6').click(function () {
      let addDocTime6 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime6').append(addDocTime6);
    })
    $('#addDocTime7').click(function () {
      let addDocTime7 = `<li>
                    <label style="margin-top: 2px" for="sTime[]]">Start Time</label>
                    <input id="sTime[]]" type="time">
                    <label style="margin-top: 2px" for="eTime[]]">End Time</label>
                    <input id="eTime[]" type="time">
                  </li>`
      $('#docTime7').append(addDocTime7);
    })

    $('#scheduleSystem').change(function () {
      if (document.getElementById('scheduleSystem').checked) {
        document.getElementById('r1').disabled = true;
        document.getElementById('r2').disabled = true;
        document.getElementById('r3').disabled = true;
        document.getElementById('r4').disabled = true;
      } else if (!document.getElementById('scheduleSystem').checked) {
        document.getElementById('r1').disabled = false;
        document.getElementById('r2').disabled = false;
        document.getElementById('r3').disabled = false;
        document.getElementById('r4').disabled = false;
      }
    })

    function regBtn() {
      alert('Registration restricted for security purposes');
    }
    
  </script>