<nav class="navbar navbar-expand-md navbar-light bg-light">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active"  href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/publications">PUBLICATIONS</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active"  href="/article/editorpanel">CHECK UP</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/">DIAGNOSTIC REPORTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/">PRESCRIPTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/">HEALTH ADVISOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"  href="/profile/">TRANSACTION HISTORY</a>
            </li>
        </ul>
  </nav>
