<!-- <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet"> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#profileNavbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="profileNavbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile/"><i class="fas fa-clinic-medical fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/publications">PUBLICATIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/diagnosticReports">DIAGNOSTIC REPORTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/prescriptions">PRESCRIPTION</a>
                </li>
                <% if(loggedInUser && loggedInUser.license_no !== '0' && loggedInUser.university !== 'University' && loggedInUser.reference_no[0] !== '(Seperated By Comma)') {%>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/checkup">CHECK UP</a>
                </li>
                <% }%>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/consultant">CONSULTANT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">FAMILY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">DRUG STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">TRANSACTION HISTORY</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto mb-lg-0">
            <li style="margin-right: 12px;">
                <input type="checkbox" checked data-toggle="toggle" data-on="Practice" data-off="Idle" data-width="100">
            </li>
            <!-- <li class="input-group rounded mt-0">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="submit" style="cursor: pointer;" class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </button>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <% if(loggedInUser && loggedInUser.license_no !== '0' && loggedInUser.university !== 'University' && loggedInUser.reference_no[0] !== '(Seperated By Comma)') {%>
            <li class="nav-item">
                <a class="nav-link" href="/profile/meetPatient"><i class="fas fa-comment-medical fa-lg"></i>
                </a>
            </li>
            <% } else {%>
            <li class="nav-item">
                <a class="nav-link" href="/profile/meetConsulant"><i class="fas fa-comment-medical fa-lg"></i>
                </a>
            </li>
            <% } %>
        </ul>
        <!-- </div> -->
    </div>
</nav>


<script>
    var highlightNavBar = function () {
        var url = window.location.pathname;
        $('ul.navbar-nav a[href="' + url + '"]').parent().addClass('active');
    };
    highlightNavBar();
</script>

<!-- <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script> -->