<h1 style="text-align: center;"><%= loggedInUser.firstname  %> <%= loggedInUser.lastname %> </h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img class="propic" style="margin-bottom: 6px;" src="../images/profilePic.jpeg" alt="Profile Picture"> <br>
            <!-- <button class="editProfileButton">Edit Profile</button> -->
        </div>
        <div class="col-md-5">
            <fieldset>About</fieldset>
        </div>
        <div class="col-md-5">
            <fieldset>Advises</fieldset>
        </div>
    </div>
</div>
