body {
  background-color: black;
  color: aliceblue;
}

.modal-content {
  background: #696969
}


.searchForm {
  background-color: black;
  color: whitesmoke;
  margin-left: 36px;
  border: 2px solid wheat;
}

.input-group {
  margin-top: 195px;
}

.input-group-text {
  margin-right: 36px;
  border: 2px solid;
}

#email {
  text-transform: lowercase;
}

.propic {
  height: 174px;
  width: 174px;
  border-radius: 50%;
  margin-top: 10px;
}

.propic-edit {
  height: 174px;
  width: 174px;
  border-radius: 50%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.table {
  color: whitesmoke;
}

.profilePictureBtn {
  position: absolute;
  font-size: 55px;
  color: rgba(0, 0, 0, 0.6);
  bottom: 20%;
  left: 48%;
  background-color: transparent;
  border: 0px;
  display: none;
}

.imgContainer:hover .profilePictureBtn {
  display: block;
}

#imagePreview {
  width: 100%;
  display: block;
  max-width: 100%;
}

.editProfileButton {
  margin-top: 6px;

}

@media only screen and (max-width: 360px) {
  #generalSearch {
    width: 200px;
  }

  .form-control {
    font-size: xx-small;
  }

  #precribeTable th,
  #precribeTable td {
    font-size: x-small;
    padding-left: 0;
    padding-right: 0;
  }
}